/* Slider.module.css */
.sliderContainer {
  max-width: 100%;
  overflow: hidden;
}

.sliderWrapper {
  display: flex;
}

.prevButton,
.nextButton {
  background-color: #3498db;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prevButton:hover,
.nextButton:hover {
  background-color: #2980b9;
}
